<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista Productos</title>
	<link rel="stylesheet" href="../../css/estilos.css" th:href="@{/css/estilos.css}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"
		integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19"
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
		integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
		crossorigin="anonymous"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<header th:replace="~{fragmentos/encabezado::encabezado}"></header>
	<div class="overlay">
		<a class="close">&times;</a>
		<div class="overlay__content">
			<a href="index.html">Inicio</a>
			<a href="tecnicos.html">Técnicos</a>
			<a href="nosotros.html">Nosotros</a>
		</div>
	</div>
	<script type="text/javascript" src="../../js/index.js"></script>

	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">0</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Dropdown link
						</a>
						<ul class="dropdown-menu-right">
							<li><a class="dropdown-item" href="admin/listado-categoria.html"
									th:href="@{/admin/categoria/}">Gestión categorías</a></li>
							<li><a class="dropdown-item" href="admin/listado-productos.html"
									th:href="@{/admin/producto/}">Gestión productos</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-items">
		<div class="item">
			<figure>
				<img src="../../img/lg.png" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Frigoríficos</h2>
				<button>Editar</button>
			</div>
		</div>
		<div class="item">
			<figure>
				<img src="../../img/samsung.png" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Lavadoras</h2>
				<button>Editar</button>
			</div>
		</div>
		<div class="item">
			<figure>
				<img src="../../mg/lg2.png" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Hornos</h2>
				<button>Editar</button>
			</div>
		</div>
		<div class="item">
			<figure>
				<img src="../img/../lavadoralg.png" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Hornos</h2>
				<button>Editar</button>
			</div>
		</div>
		<div class="item">
			<figure>
				<img src="../../img/lavadoraBosch.png" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Lavadoras</h2>
				<button>Editar</button>
			</div>
		</div>
		<div class="item">
			<figure>
				<img src="../../img/lavadoraSams.png" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Lavavajillas</h2>
				<button>Editar</button>
			</div>
		</div>
	</div>
	<footer th:replace="~{fragmentos/footer::footer}"></footer>


</body>

</html>