<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<link rel="stylesheet" href="../css/estilos.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"
		integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19"
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
		integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
		crossorigin="anonymous"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


</head>

<body>
	<footer th:fragment="footer">
		<div class="container">
			<div class="footer__logo">
				<img src="img/ALKACEN.png" alt="logo" width="150px">
			</div>
			<div class="footer__links">
				<h3>Enlaces</h3><br>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="electrodomesticos.html">Electrodomésticos</a></li>
					<li><a href="tecnicos.html">Técnicos</a></li>
					<li><a href="nosotros.html">Nosotros</a></li>
				</ul>
			</div>
			<div class="footer__contact">
				<h3>Contacto</h3><br>
				<ul>
					<li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Condes de Bustillo, Sevilla, España</li>
					<li><i class="fas fa-envelope"></i> Email: info@alkacen.com</li>
					<li><i class="fas fa-phone"></i> Teléfono: +34 954 256 871</li>
				</ul>
			</div>
			<div class="footer__social">
				<h3>Síguenos</h3><br>
				<ul>
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</ul>
			</div>
		</div>
	</footer>
</body>

</html>