h1, h2, h3, h4, h5{
    font-family: russo;
}
h1{
    font-size: 3.8em;
}
.bg-secondary{
	background-color: rgb(180, 180, 180) !important;
}
@font-face {
    font-family: archivo;
    src: url(../fonts/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: quatrobold;
    src: url(../fonts/QuattrocentoSans-Bold.ttf);
}
@font-face {
    font-family: quatroregular;
    src: url(../fonts/QuattrocentoSans-Regular.ttf);
}
@font-face {
    font-family: russo;
    src: url(../fonts/RussoOne-Regular.ttf);
}
.btn-dark{
	font-family: russo;
}
.navbar{
    margin-top: -95px;
    z-index: 50;
    height: 70px;
}
.navbar-brand{
    display: block;
    z-index: 60;
    margin: auto;
    margin-top: 10px;
    height: 85px;
    width: 85px;
    border-radius: 50px;
    position: sticky;
    top: 10px;
}
.navbar-brand img{
    height: 70px;
    margin: 8px;
    margin-top: 2px;
}
#login input{
    border-bottom: 2px solid white !important;
    width: 100%;
    font-family: russo;
    outline: none;
}
#login input::placeholder{
    color: white;
    text-align: center;
    font-family: quatrobold;
}
#login caption{
    font-family: quatroregular;
}
#banner-main{
    z-index: 10;
    background-image: url(../media/bg-banner-main.jpg);
    background-size: cover;
    background-position: 0px -200px;
    transform: skewY(-2deg);
    margin-top: -2%;
    height: 400px;
    padding: 2%;
}
#banner-main p{
	font-size: 1.2em;
	font-family: quatrobold;
}
#banner-main>*{
    transform: skewY(2deg);
}
#banner-main div{
    margin-left: 50%;
    margin-top: 4%;
}
main{
    margin-top: 75px;
}
#circuit *{
    flex-basis: 50%;
}
#img-circuito img{
    width: 132%;
}
#datos-circuito{
    font-family: russo;
}
#datos-circuito>div>div{
    width: 75%;
    min-width: 100px;
    height: 50%;
    border-radius: 25px;
    font-size: 3em;
    padding: 10%;
}
#karts{
    width: 141.7%;
    margin-left: -25%;
    padding-bottom: 75px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;
    z-index: 40;
}
.card{
    width: 400px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}
.card-text{
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.6) !important;
}
.card ul{
    display: flex;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.6) !important;
}
.separador{
    width: 125px;
    background-color: white;
    height: 5px;
    margin: 10px auto 10px auto;
    transform: skewX(-20deg);
}
nav .separador{
	width: 80%;
}
.precios{
    font-size: 1.4em;
    justify-content: center;
    font-family: quatroregular;
}
.precios *{
    margin-left: 10px;
    margin-right: 10px;
}
.precio{
    font-family: russo;
}
main{
	z-index: 5;
}
.footercontainer{
	z-index: 10;
	margin-top: -2%;
}
.dropdown-menu{
    margin-left: -150%;
}
.dropdown-menu input{
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px;
    border-bottom: 1px solid white;
}
.dropdown-menu input::placeholder{
    color: white;
}
.logo{
    width: 100px;
}
.errorForm{
	color:red;
	font-size: 0.8em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.remove{
	width: 300px !important;
}
.remove .modal-body a{
	font-family: russo;
}
@media screen AND (max-width: 1080px) {
	.alert-danger{
		margin-top: 10px !important;
	}
    #banner-main{
        background-position: 0px 0px;
    }
    #img-circuito img{
        width: 450px;
        margin-left: -15%;
    }
    .h3{
        font-size: 1.2em;
    }
    #karts-pc{
        display: none !important;
    }
    #karts-mobile{
        display: visible !important;
        padding-bottom: 20px;
    }
    #banner-main div{
        margin-left: 1%;
        margin-right: 1%;
        text-align: center;
        line-height: 1.2em;
    }
    .carousel-control-prev{
        margin-left: -15%;
    }
    .carousel-control-next{
        margin-right: -15%;
    }
    #karts{
        padding-bottom: 25px;
    }
    .navadmin{
		width: 3%;
		transition: all 0.4s;
		padding-left: 10px !important;
		padding-right: 35px !important;
	}
	.navadmin img, .navadmin .separador{
		display: none;
	}
	.navadmin ul{
		transition: all 0.5s;
		margin-left: -400px;
	}
	.navadmin li:nth-child(odd){
		display: none;
	}
	.navadmin i{
		display: visible;
	}
	.mainadmin{
		margin-left: 3%;
		width: 97%;
	}
	#btnadmin{
		margin-right: auto;
	}
}
@media screen AND (min-width: 1080px) {
	.navadmin li:nth-child(even){
		display: none;
	}
    #karts-pc{
        display: visible !important;
    }
    #karts-mobile{
        display: none !important;
    }
    .navadmin i{
		display: none;
	}
	.mainadmin h1{
		margin-bottom: 0px !important;
	}
	.mainadmin{
		margin-left: 10%;
		width: 90%;
	}
	.tabla{
		overflow-x: hidden !important;
	}

}
.desplegado {
	width: 34% !important;
}
.desplegado ul{
	margin-left: 0px !important;
}
.tabla{
	overflow: scroll;
	overflow-y: hidden;
}
.navadmin{
	height: 100%;
  	position: fixed;
  	z-index: 1;
 	top: 0;
  	left: 0;
	width: 10%;
}
.navadmin ul{
	list-style-type: none !important;
	font-family: russo;
	box-shadow: none;
}
.navadmin a{
	text-decoration: none !important;
	color: white;
}
.mainadmin>div:nth-child(2){
	padding-top: 1em !important;
}
.mainadmin>div:nth-child(2) #buscar{
	border: 0px;
	border-bottom: solid 2px black;
}
.btn-danger{
	font-family: russo;
	border: 0px !important;
}
#add{
	height: 30px;
}
.input-group{
	width: 33% !important;
}
td{
	height: 70px;
	vertical-align: middle;
}
tr{
	transition: all 0.4s;
}
tbody tr:hover{
	background-color: lightgrey;
}
::placeholder{
	font-family: russo;
	text-align: center;
}
tr div{
	width: 100%;
	height: 100px;
	background-color: red;
}
.details>div{
	border-top-right-radius: 15px;
}
.detallesSesion tr{
	transition: none;
}
.detallesSesion td{
	height: auto;
}
.detallesSesion tr:hover{
	background-color: white;
}
td a{
	font-weight: bold;
	color: red;
	font-size: 1.1em;
	transition: all 0.3s;
}
td a:hover{
	color: rgb(190, 0, 0);
}
form>.input-group{
	width: 100% !important;
}
.recaudadoLabel{
	color: #b4b4b4;
	font-family: quatrobold;
	font-weight: bold;
	font-size: 0.9em;
}
.recaudado{
	font-family: russo;
	font-weight: bold;
	font-size: 2em;
}
.resumenRecaudacion h2{
	border-bottom: solid 2px lightgrey;
	color: red;
	font-size: 1em;
}
#logoReserva{
	width: 200px;
}
#imgReserva{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#datosReserva{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#datosReserva h4{
	font-size: 1.3em;
}
#avisoReserva{
	color: grey;
	font-size: 0.8em;
}